.features {
  background-color: $wam-primary-color-1;
  color: $white;
  @include section-padding-top-bottom;

  &> div {
    @include section-width;
  }

  h2 {
    text-align: center
  }

  &__items {
    width: 100%;
    padding-top: 2rem;

    @media screen and (min-width:$small-screen) {
      @include flex-row-space-between;
    }
  }

  .item {
    @include flex-column-align-center;
    padding-bottom: 2rem;

    @media screen and (min-width:$small-screen) {
      width: 33%;
    }

    &__icon img {
      width: 5rem;

      @media screen and (min-width:$medium-screen) {
        width: 8rem;
      }
    }
  }
}