.nav {
  width: 100%;
  padding: $top-nav-padding-xsmall 0 .75rem;
  position: fixed;
  top: 0;
  background-color: $white;
  z-index: $z-index-top-nav;

  @media screen and (min-width:$medium-screen) {
    padding: $top-nav-padding-large-height 0;
  }

  &> div {
    @include flex-row-space-between;
    @include section-width;
  }

  &__logo img {
    height: $logo-height-small;

    @media screen and (min-width:$medium-screen) {
      height: $logo-height-large;
    }
  }

  &__menu {
    height: $logo-height-small;
    line-height: $logo-height-small;

    @media screen and (min-width:$medium-screen) {
      height: $logo-height-large;
      line-height: $logo-height-large;
    }
  }
}