.skills {
  @include section-padding-top-bottom;

  &> div {
    @include section-width;
  }

  &__item {
    @include flex-column;
    padding-bottom: 2rem;

    @media screen and (min-width:$medium-screen) {
      @include flex-row;
      padding-bottom: 3rem;
    }

    .text {
      @media screen and (min-width:$medium-screen) {
        width: $section-text-width;
      }

      .btn {
        margin-top: 1rem;
        margin-bottom: 2.5rem;
      }
    }

    .img {
      @include section-img;
    }

    &--reversed {
      @media screen and (max-width:$medium-screen - 1) {
        .text {
          order: 1;
        }
    
        .img {
          order: 2;
        }
      }
    }
  }
}