// Colors
$wam-primary-color-1: #002E50;
$wam-primary-color-2: #06D6A0;

$wam-secondary-color-1: #ef476f;
$wam-secondary-color-2: #ffd166;

$wam-gray-1: #F4F4F4;

$white: #fff;

// Media-breaks
$small-screen: 640px;
$medium-screen: 1024px;
$large-screen: 1250px;
$xlarge-screen: 1500px;

// Typography {
$header-font-family: Roboto, Arial, Helvetica, sans-serif;
$main-font-family: Raleway, Roboto, Arial, Helvetica, sans-serif;
$font-size-xlarge: 3.998rem; // 71.96px
$font-size-large: 2.827rem; // 50.89px
$font-size-medium: 1.414rem; // 25.45px
$font-size-normal: 1rem; //18px
$font-size-small: 0.8rem; // 14.40px

$line-height-normal: 1.75rem;

// Nav
$top-nav-padding-small: 1rem;
$top-nav-padding-large: 2rem;
$top-nav-padding-large-height: 1rem;

// Logo
$logo-height-small: 2rem;
$logo-height-large: 3rem;

// Buttons
$button-border-radius: 5px;

// Layout
$section-max-width: 82rem;
$section-text-width: 50%;
$section-img-width: 50%;