// Colors
$wam-primary-color-1: #002E50;
$wam-primary-color-2: #06D6A0;

$wam-secondary-color-1: #ef476f;
$wam-secondary-color-2: #ffd166;

$wam-gray-1: #F4F4F4;

$white: #fff;

// Media-breaks
$small-screen: 640px;
$medium-screen: 1024px;
$large-screen: 1200px;
$xlarge-screen: 1500px;

// Typography {
$header-font-family: Roboto, Arial, Helvetica, sans-serif;
$main-font-family: Raleway, Roboto, Arial, Helvetica, sans-serif;

// Logo
$logo-height-small: 2.5rem;
$logo-height-large: 3rem;