body {
  font-family: $header-font-family;
}

h1, h2, h3, h4 {
  font-family: $header-font-family;
}

p, ul, li {
  font-family: $main-font-family;
}

a,
a:link,
a:hover,
a:focus,
a:active,
a:visited {
  font-weight: 600;
  color: $wam-primary-color-1;
  text-decoration: none;
} 